
body {
  background: url(http://bdbackgrounds.com/images/product-images/backdrops/background-paper/light-yellow/1-lightyellow-paper.jpg);
  background-size: cover;
  font-family: 'Graduate', cursive;
  padding-bottom:65px;
}


body a {
  color:black
}

#logout a{
  float:right; /*fungerar inte*/ 
  color:#ffc107;
  text-decoration: none;
}

#logout a:hover{
  color:black;
}

.logohomepage {
  height: 203px;
  width: 241px;
}

body a:hover {
  color:rgb(78, 78, 78)
}
/*
.homepage  {
  margin:auto !important; 
}
.create_game_picture {
  width: 800px;
  height: 300px;
}
*/
#list_of_question {
  width: 80%;
}
 
#list_of_question a {
  text-decoration: none;
  width: 80%;
}

.form {
  margin: auto;
  width: 700px;
}


.my_profile {
  text-align:center;
}

#profile_picture {
  height: 75px;
  width: 75px;
}

#play{
  text-align:center;
}

#contact-us{
  text-decoration: none;
}

.footer {
  text-align:center;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #212529;
  color: #ffffff; 

}

.divbox{
  box-sizing: border-box;
}

.card {
  margin: 2%;
  box-sizing: border-box;
}

.link-warning{
  text-decoration: none;
}

/* CSS for the Contact_us-form*/

.contact{
  padding: 4%;
  height: 400px;
}
.col-md-3{
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}

.contact-form button:focus{
  box-shadow:none;
}

/* End of CSS-code for Contact_us-form  */