
body {
  
  font-family: 'Graduate', cursive;
  padding-bottom:65px;
  background-color: #f7e688;
  
}

body::after {
  content: "";
  background: url(zingo.png) no-repeat;
  opacity: 0.4;
  position: absolute;
  height: 203px;
  width: 241px;
  z-index: -1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  
}

body a {
  color:black
}

.main {
  z-index: 99; /* Make sure it does not overlap */
}
#logout a{ 
  color:#ffc107;
  text-decoration: none;
}

#logout a:hover{
  color:black;
}

#nav-icon {
  width: 111px;
  height: 41px;
}
.logohomepage {
  height: 203px;
  width: 241px;
  
}

body a:hover {
  color:rgb(78, 78, 78)
}
/*
.homepage  {
  margin:auto !important; 
}
.create_game_picture {
  width: 800px;
  height: 300px;
}
*/
#list_of_question {
  width: 80%;
  box-sizing: border-box;
}
 
#list_of_question a {
  text-decoration: none;
  width: 80%;
}

.form {
  width: 70%;
  box-sizing: border-box;
  overflow: hidden;
}

#package-button {
  text-decoration: none;
}
.leaderboard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.table-leaderboard {
  width: 60%;
}

.my_profile {
  text-align:center;
}

#profile_picture {
  height: 75px;
  width: 75px;
}



#contact-us{
  text-decoration: none;
}

.footer {
  text-align: center;
  position:fixed;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #212529;
  color: #ffffff; 
}

.divbox{
  box-sizing: border-box;
}

.card {
  margin: 2%;
  box-sizing: border-box;
}

.link-warning{
  text-decoration: none;
}

.button-box {
  margin-top:20px;
}

#add_question{
  text-align: left;
  margin: 0.25rem;
}

#save_changes{
  text-align: right;
  margin: 0.25rem;
}

.margin-0 {
  margin-top: 2rem;
  padding: 0;
}

#done{
  text-align: right;
}

#cards{
  /*background: url("zingo.png");*/
  background-image: url(zingo.png);
  background-color: rgb(250, 250, 165);
  background-repeat: no-repeat;
  background-size: auto; 
}
#zingoimage{
  opacity: 50%;
}

/* CSS for the Contact_us-form*/

.contact{
  padding: 4%;
  height: 400px;
}
.col-md-3{
  background: #ff9b00;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}

.contact-form button:focus{
  box-shadow:none;
}

.edit {
  box-sizing: border-box;
  overflow: hidden;
}


#myBtn {
  z-index: 99; /* Make sure it does not overlap */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  font-size: 18px; /* Increase font size */
  display: flex;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

#emailicon{
  width: 80px;
  height: 80px;
}

/* End of CSS-code for Contact_us-form  */

#qa p {
  opacity: 0;
  font-size: 0%;
  margin: 0;
}

p#active {
  opacity: 1;
  font-size: 1em;
}
