

body > main.main  {
  margin:auto !important; 
  width: 500px !important;
  background-color: solid black !important;
  border: yellow;
}

/*.container-form {

}
*/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: #ffffff;
}

