{% extends "base.html" %}

<!--Title block-->
{% block title %}
Home page
{% endblock %}

<!--Content block-->
{% block content %}
<!--Frågeformulär-->

<div class="row justify-content-center">

    <div class="col-lg-6 edit">
        <div class="row justify-content-center">
            <div class="col-lg-11">
                <form method="POST">
                    <h2 class="mb-4">{{ qp_name }} </h2>
                    <div class="form-group mb-3">
                        <label for="question">Question</label>
                        <input type="textarea" rows="2" name="question" class="form-control" id="question"
                            value='{% if qna != "" %}{{ qna[0] }}{% endif %}' placeholder="Type question..." required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="answer_1">Correct answer</label>
                        <input type="text" name="answer_1" class="form-control list-group-item list-group-item-success"
                            id="answer_1" value='{% if qna != "" %}{{ qna[1] }}{% endif %}'
                            placeholder="Type correct answer..." required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="answer_2">Wrong answer 1</label>
                        <input type="text" name="answer_2" class="form-control list-group-item list-group-item-danger"
                            id="answer_2" value='{% if qna != "" %}{{ qna[2] }}{% endif %}'
                            placeholder="Type wrong answer..." required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="answer_3">Wrong answer 2</label>
                        <input type="text" name="answer_3" class="form-control list-group-item list-group-item-danger"
                            id="answer_3" value='{% if qna != "" %}{{ qna[3] }}{% endif %}'
                            placeholder="Type wrong answer..." required>
                    </div>
                    <div class="form-group mb-3">
                        <label for="answer_4">Wrong answer 3</label>
                        <input type="text" name="answer_4" class="form-control list-group-item list-group-item-danger"
                            id="answer_4" value='{% if qna != "" %}{{ qna[4] }}{% endif %}'
                            placeholder="Type wrong answer..." required>
                        <p><b>{{ msg }}</b></p>
                    </div>
                    <div class="button-box mb-3">
                        <button class="btn btn-lg btn-warning" type="submit" id="add_question"
                            formaction="/control_questions_answers">Add Question</button>
                        <button class="btn btn-lg btn-warning" type="submit" id="save_changes"
                            formaction="{{ url_for('edit_question') }}">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-6 edit">
        <div class="row justify-content-center">
        <div class="col-lg-11">
            <article>
                <h2 class="mb-3">Your Questions</h2>
                <ul class="margin-0">
                    {% for question in questions %}
                    <li class="list-group-item list-group-item-light" id="list_of_question">
                        <a href="{{ url_for('edit_q', qp_name = qp_name, question = question) }}">{{ question }}
                            [EDIT]</a>
                    </li>
                    {% endfor %}
                </ul>
            </article>
            <div class="button-box mb-3">
                <form action="{{ url_for('my_profile') }}">
                    <!--save question package-->
                    <div>
                        <button type="submit" class="btn btn-lg btn-warning mt-4" id="done"
                            value="save_qp">DONE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock %}