{% extends "base.html" %}

<!--Title block-->
{% block title %}
    Home page
{% endblock %}

<!--Content block-->
{% block content %}
  <!--Lägg till maincontent här-->
<div class="container form">
    <h3>Create your game </h3>
            
    <div class="col-sm-12">
        <hr>
        <a tabindex="0" class="btn btn-lg btn-warning" role="button" data-bs-toggle="popover" data-bs-trigger="focus" title="Follow this rules to have a spendid good time!" data-bs-content="Be a cool dude!">Rules</a>
        <form class="create_game" action="/control_qp_name_desc" method="POST">
            <div class="form-group">
                <label for="qp_name">Enter the name of your game</label>
                <input name="qp_name" type="text" class="form-control" id="qp_name" placeholder="Type something..." required>
            </div>
            <div class="form-group">
                <label for="qp_description">Describe your question package</label>
                <input name="qp_description" type="text" class="form-control" id="qp_description" placeholder="Type something...">
            </div>
            <div class="form-group">
                <p>Genre of your package:</p>
                <select name="qp_tag" id="tag" class="form-control" multiple>
                    {% for tag in tags %}
                        <option value="{{ tag | safe }}">{{ tag | safe }}</option>
                    {% endfor %}
                </select>
                <p>Hold down Control (Windows) or Command (Mac) button to select multiple options (5 at most).</p>
            </div> 
            <div class="form-group mt-3"> 
                <button type="submit" class="btn btn-warning">Next</button>
            </div>
        </form>
    </div>
</div>  
{% endblock %}