{% extends "base.html" %}
<!--Title block-->
{% block title %}
Home page
{% endblock %}
<!--Content block-->
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="col-12 text-center">
                <h1>Create your question package </h1>
                <hr>
            </div>
            <div class="form-group mt-4 rules-frame">
                <h5 id="rules-text">Rules</h5>
                <div class="card rules">
                    <div class="card-body rules-undertext">
                        <p class="card-text">Don't be a jerk. No use of swearwords are allowed. And have fun!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <hr>
                <form class="create_game" action="/control_qp_name_desc" method="POST">
                    <div class="form-group mt-4">
                        <label for="qp_name">Name:</label>
                        <input name="qp_name" type="text" class="form-control" id="qp_name"
                            placeholder="Enter the name of your game" required>
                    </div>
                    <div class="form-group mt-3">
                        <label for="qp_description">Description:</label>
                        <input name="qp_description" type="text" class="form-control" id="qp_description"
                            placeholder="Describe your question package">
                    </div>
                    <div class="form-group mt-4">
                        <p>Genre of your package:</p>
                        <select name="qp_tag" id="tag" class="form-select form-select-lg">
                            {% for tag in tags %}
                            <option value="{{ tag | safe }}">{{ tag | safe }}</option>
                            {% endfor %}
                        </select>
                        <p class="mt-2"></p>
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-lg btn-warning next-btn">Next</button>
                        <p><b>{{ msg }}</b></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}