{% extends "base.html" %}

<!--Title block-->
{% block title %}
    Home page
{% endblock %}

<!--Content block-->
{% block content %}
<div class="container homepage mt-4">
  <h1 class="text-center">WELCOME TO ZINGO!</h1>
  <hr>
  <div class="row justify-content-center mt-4">
    <div class="col-xl-3 col-lg-11 mt-4 container_1">
      <a href="{{ url_for('create_question_package')}}" id="create_game-link">Create your own game!</p>
      <a href="{{ url_for('create_question_package')}}"> <img src="./static/homepage1.jpg" alt="create your game" class="img-fluid img-thumbnail create_game_picture"></a>
    </div>
    <div class="col-xl-3 col-lg-11 mt-4 container_2">
      <a href="{{ url_for('view_all_question_package')}}" id="choose_game-link">Choose your game to play!</p>
      <a href="{{ url_for('view_all_question_package')}}"> <img src="./static/homepage2.jpg" alt="choose game" class="img-fluid img-thumbnail create_game_picture"></a>
    </div>
    <div class="col-xl-3 col-lg-11 mt-4 container_3">
      <a href="{{ url_for('sign_in')}}" id="sign_in-link">Click below to sign in!</p>
      <a href="{{ url_for('sign_in')}}"> <img src="./static/signin.jpg" alt="sign in" class="img-fluid img-thumbnail create_game_picture"></a>
      
    </div>
  </div>
  <div class="row mt-4 justify-content-center">
    <div class="col-3 d-flex justify-content-center">
      <img src="./static/zingo.png" alt="zingologo" class="logohomepage">
    </div>
  </div>
</div>
{% endblock %}