{% extends "base.html" %}

<!--Title block-->
{% block title %}
    Home page
{% endblock %}

<!--Content block-->
{% block content %}
<div class="container homepage mt-4">
  <div class="row justify-content-center mt-4">
    <div class="col-lg-4 mt-4">
      <p id="play">Click below to create your game!</p>
      <a href="{{ url_for('create_question_package')}}"> <img src="./static/homepage1.jpg" alt="" class="img-fluid img-thumbnail create_game_picture"></a>
    </div>
    <div class="col-lg-4 mt-4">
      <p id="play">Choose your game to play!</p>
      <a href="{{ url_for('view_all_question_package')}}"> <img src="./static/homepage2.jpg" alt="" class="img-fluid img-thumbnail create_game_picture"></a>
    </div>
    <div class="col-lg-4 mt-4">
      <p id="play">Click below to sign in!</p>
      <a href="{{ url_for('sign_in')}}"> <img src="./static/homepage3.jpg" alt="" class="img-fluid img-thumbnail create_game_picture"></a>
    </div>
  </div>
</div>
{% endblock %}