{% extends "base.html" %}

<!--Title block-->
{% block title %}
Home page
{% endblock %}

<!--Content block-->
{% block content %}

<div id="question-game-questions">
    <div class="row justify-content-center">
        <h1 class="text-center">Get ready... Set... </h1>
    </div>
    <hr>

    {% if username == 'User' %}
    <div id="user_logged_out">
        <p>{{ msg }}</p>
        <a class="btn btn-secondary btn-sm" href="{{ url_for('register') }}">Create account</a>
    </div>
    {% endif %}
    
    <div class="row justify-content-center start-game-menu">
       <!-- <form action="#">
            <div class="form-group mb-3 form">
                <label for="username">Enter a username</label>
                <input type="text" name="username" class="form-control list-group-item" id="in-game-username" placeholder="Type username..." required>
            </div>
            <div class="form-group mb-3 form">
                
            </div>          
        </form>-->
        <button class="btn btn-lg btn-warning" type="submit" id="start-game">Start game!</button>
    </div>

    {% for question in questions %}
    <div class="row justify-content-center show-question" id="{{loop.index}}" style="display: none;"
        data-correct-answer="{{ question['correct'] }}">
        <h1 class="col-12 text-center">{{ question.question }}</h1>

        {% for answer in question['answers'] %}
        <button class="btn btn-lg btn-warning question_answers">{{ answer }}</button>
        {% endfor %}

    </div>
    {% endfor %}

    <div class="scoretest text-center" name="scoretest">
    </div>
    <div class="timer text-center" id="timer">

    </div>
    <form action="{{ url_for('save_results_to_db') }}" method="POST" class="text-center mt-4">
        <input type="hidden" name="score" value="0" id="score">
        <input type="hidden" name="qp_id" value="{{ qp_id }}" id="qp_id">
        <input type="hidden" name="username" value="{{ username }}" id="username">
        <input type='submit' name="test_sub" value="End Game" class="end-game">
    </form>
    

</div>

{% endblock %}