{% extends "base.html" %}

<!--Title block-->
{% block title %}
    Home page
{% endblock %}

<!--Content block-->
{% block content %}
 <!--Join game-->
<div class="container form">
    <h2>Join Game</h2>
    <form action="#" method="#">
        <div class="form-group mb-3">
            <label for="join_game_url">Game URL</label>
            <input name="join_game_url" type="join_game_url" class="form-control" id="join_game_url">
        </div>
        <button type="submit" class="btn btn-primary">Let's GO!</button>
    </form>
</div>
 
{% endblock %}