{% extends "base.html" %}

{% block title %}
    Register/Sign In
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <!-- Sign in-->
            <div class="col-lg-8">
                <h1>Log in</h1>
                <hr>
                <form class="sign_in" action="{{ url_for('user_login') }}" method="POST">
                    <div class="form-group mb-3">                       
                        <label for="InputEmail1">Email address</label>
                        <input name="email" type="email" class="form-control" id="InputEmail1" aria-describedby="emailHelp" required
                            placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted"></small>     
                    </div>
                    <div class="form-group mb-3">                      
                        <label for="exampleInputPassword1">Password</label>
                        <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter password" required>                 
                    </div>
                    <div class="msg mb-2">
                        {{ msg }}
                    </div>
                    <div class="no-account">
                        <p><a href="{{ url_for('register') }}">Register an account, click here!</a></p>
                    </div>
                    <button type="submit" id="sign_in_button" class="btn btn-lg btn-warning">Log In</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}