{% extends "base.html" %}

<!--Title block-->
{% block title %}
  TEST PAGE
{% endblock %}
{% block javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script></script>
{% endblock %}
<!--Content block-->
{% block content %} 
<!--The overview-->
<div class="container view_one_game" id="overview">
    <!--Namn på frågepaket-->
    <div class="row">
      <div class="col-12">  
          <h2>{{ qp_name }}</h2>
        </div>
    </div>
    <!--Beskrivning av frågepaket-->
    <div class="row">
      <div class="col-12">
        <p>Summary: {{ qp_desc }}</p>
      </div>
    </div>
    <!--Frågor i frågepaket-->
    <div class="row">
      <div class="col-12">
        <p>Loopad lista med frågorna</p>
      </div>
    </div>
    <!--Gå tillbaka-knapp (vart?)-->
    <div class="row">
      <div class="col-12">
        <p>Här ska en knapp finnas tillbaka till view_all_games</p>
      </div>
    </div> 
    <!--Starta ett spel-knapp-->
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-lg btn-warning" id="play">Play game</button>
      </div>
    </div>
</div>
{% endblock %}

