{% extends "base.html" %}

<!--Title block-->
{% block title %}
    Home page
{% endblock %}

<!--Content block-->
{% block content %} 
  <!--View one game-->

  <!--Namn på frågepaket-->
  <div class="row">
        <h2>Namn på frågepaket (python)</h2>
  </div>
  <!--Beskrivning av frågepaket-->
  <div class="row">
    <p>--Beskrivning av frågepaket (python)</p>
  </div>
  <!--Frågor i frågepaket-->
  <div class="row">
    <p>Loopad lista med frågorna</p>
  </div>

  <!--Gå tillbaka-knapp (vart?)-->
  
  <!--Starta ett spel-knapp-->


{% endblock %}