{% extends "base.html" %}

<!--Title block-->
{% block title %}
    Home page
{% endblock %}

<!--Content block-->
{% block content %} 

<div class="container view_one_game">

    <!--Namn på frågepaket-->
    <div class="row">
      <div class="col-12">  
          <h2>{{ qp_name }}</h2>
        </div>
    </div>
    <!--Beskrivning av frågepaket-->
    <div class="row">
      <div class="col-12">
        <p>Summary: {{ qp_desc }}</p>
      </div>
    </div>
    <!--Frågor i frågepaket-->
    <div class="row">
      <div class="col-12">
        <p>Loopad lista med frågorna</p>
      </div>
    </div>

    <!--Gå tillbaka-knapp (vart?)-->
    <div class="row">
      <div class="col-12">
        <p>Här ska en knapp finnas tillbaka till view_all_games</p>
      </div>
    </div> 
    <!--Starta ett spel-knapp-->
    <div class="row">
      <div class="col-12">
        <button type="button" class="btn btn-lg btn-warning" ><a href="{{ url_for('invite_player', qp_name = qp_name, admin = username) }}">Play game</a></button>
      </div>
    </div>
    
</div>

{% endblock %}