{% extends "base.html" %}

<!--Title block-->
{% block title %}
    Home page
{% endblock %}

<!--Content block-->
{% block content %} 
  <!--View all games-->
  <div class="row">
    <h2>New Games!</h2> 
  </div>
  <!--Slideshow-->
  <div class="row">
    <p>Här kommer en slideshow att finnas</p>
  </div>
  <!--Filter-->
  <div class="row">
    <div class="col-md-3">
      <p>formulär med filter</p>
    </div>
  </div>
  <!--All games-->
  <div class="row">
    <div class="col-md-9">
      {% for question_package in qp_list %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> {{ question_package[0] }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"> {{ question_package[2] }}</h6>
          <p class="card-text"> {{ question_package[1] }}</p>
          <button type="button" class="btn btn-success"><a href="{{ url_for('view_one_question_package', qp_name = question_package[0]) }}">View game</a></button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}