{% extends "base.html" %}

<!--Title block-->
{% block title %}
    Home page
{% endblock %}

<!--Content block-->
{% block content %} 
  <!--View all games-->
  <div class="row">
    <h2>New Games!</h2>
  </div>
  <!--Slideshow-->
  <div class="row">
    <p>Här kommer en slideshow att finnas</p>
  </div>
  <!--Filter-->
  <div class="row">
    <div class="col-md-3">
      <p>formulär med filter</p>
    </div>
  </div>
  <!--All games-->
  <div class="row">
    <div class="col-md-9">
      <h2>All Games</h2>
      <p>listade frågepaket</p>
    </div>
  </div>


{% endblock %}