{% extends "base.html" %}

<!--Title block-->
{% block title %}
    Home page
{% endblock %}

<!--Content block-->
{% block content %} 
  <!--View all games-->
  <div class="row">
    <h2>New Games!</h2>
  </div>
  <!--Slideshow-->
  <div class="row">
    <p>Här kommer en slideshow att finnas</p>
  </div>
  <!--Filter-->
  <div class="row">
    <div class="col-md-3">
      <p>formulär med filter</p>
    </div>
  </div>
  <!--All games-->
  <div class="row">
    <div class="col-md-9">
      {% for question_package in question_packages %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"> {{ qp_name }}</h5>
          <h6 class="card-subtitle mb-2 text-muted"> {{ created_by }}</h6>
          <p class="card-text"> {{ qp_description }}</p>
          <button type="button" class="btn btn-success" href="#">PLAY GAME</button>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


{% endblock %}